@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    box-sizing: border-box;
}

:root{
  --card-shadow:
        0 2px 8px rgba(0, 0, 0, 0.06),
  0 12px 30px rgba(0, 0, 0, 0.12);
}

body {
    background: #f4f6f8;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: #f1f4fd;
    color: var(--c-text-primary);
}

.settings-container {
    max-width: 550px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.settings-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* Avatar */
.avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.avatar-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ddd;
}

.upload-btn {
    background: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.upload-btn:hover {
    background: #0056b3;
}

/* Form */
.settings-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #007bff;
}

/* Bottone */
.save-btn {
    margin-top: 20px;
    padding: 12px;
    background: #052652;
    box-shadow: var(--card-shadow);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.save-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
}

.save-btn:hover {
    background: #041C3F;
}
