.donut-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.donut-wrapper canvas {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    z-index: 2; /*per assicurarsi che la scritta sia sotto il grafico */
}

.donut-center {
    position: absolute;
    z-index: 1;   /* per dare importanza al hover dei macronutrienti */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.donut-center strong {
    font-size: 22px;
    font-weight: 600;
    color: #282a32;
    line-height: 1.2;
}

.donut-center span {
    display: block;
    font-size: 14px;
    color: #686b87;
}