footer {
  /* important! */
  top: 1600px;
  height: 128px; /* height = body margin-bottom */
  position: absolute;
  width: 105%;
  /* optional */
  text-align: center;
  background-color: transparent;
}

        .footer .social-icons {
            margin: 1rem 0;
        }
        .footer .social-icons a {
            color: #3a3939;
            margin: 0 0.5rem;
            font-size: 1.5rem;
            transition: color 0.3s;
        }
        .footer .social-icons a:hover {
            color: #3a3939;
        }
        .footer .footer-links {
            margin: 1rem 0;
        }
        .footer .footer-links a {
            color: #3a3939;
            margin: 0 0.5rem;
            text-decoration: none;
            transition: color 0.3s;
        }
        .footer .footer-links a:hover {
            color: #4f14d9;
        }

    #testo {
        color: #3a3939
    }


    @media (max-width: 1500px) {
    footer {
        /* important! */
        top:2365px;
    }

        
    }

    