.footer {
            background: linear-gradient(135deg, #ffffff, #ffffff);
            color: #fff;
            padding: 2rem 0;
            text-align: center;
            bottom: 0;
            position: absolute;
            width: 100%;
        }
        .footer .social-icons {
            margin: 1rem 0;
        }
        .footer .social-icons a {
            color: #3a3939;
            margin: 0 0.5rem;
            font-size: 1.5rem;
            transition: color 0.3s;
        }
        .footer .social-icons a:hover {
            color: #3a3939;
        }
        .footer .footer-links {
            margin: 1rem 0;
        }
        .footer .footer-links a {
            color: #3a3939;
            margin: 0 0.5rem;
            text-decoration: none;
            transition: color 0.3s;
        }
        .footer .footer-links a:hover {
            color: #4f14d9;
        }

    #testo {
        color: #3a3939
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    .page {
        min-height: 100vh;        /* prende almeno tutta l'altezza della finestra */
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;                  /* spinge il footer in basso */
        padding-bottom: 40px;     /* spazio tra contenuto e footer */
    }

    

    @media (max-width: 1500px) {
    .footer {

        }
    }