html {
    background: #052652;
    background: radial-gradient(circle,rgba(5, 38, 82, 1) 0%, rgba(0, 0, 0, 1) 100%);
    overflow-x: hidden;
}

#title {
    position: absolute;
    top: 360px;
    left: 20.04vw;
    color: #ffe894;
    text-align: right;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 58.6px;
    letter-spacing: 3.2px;
    margin-top: -60px;
    padding-left: 16px;
}

@media (max-width: 1500px) {
  #title {
    white-space: nowrap;
    top: 300px;
    left: 20vw;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title1 {
    position: absolute;
    top: 825px;
    color: #ffe894;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 58.6px;
    letter-spacing: 3.2px;
    margin-top: -60px;
    padding-left: 16px;
    text-align: center;
    left: 50.5%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1500px) {
  #title1 {
    white-space: nowrap;
    top: 930px;
    left: 20vw;
    text-align: center;
    left: 50.5%;
    transform: translate(-50%, -50%);
  }
}

#title1 span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}