html {
    background: #4f14d9;
    background: radial-gradient(circle,rgba(79, 20, 217, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

#title {
    position: absolute;
    top: 400px;
    left: 20vw;
    color: #ffe894;
    text-align: left;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 52.6px;
    letter-spacing: 0.2em;
    margin-top: -60px;
    padding-left: 1em;
}

@media (max-width: 1500px) {
  #title {
    top: 300px;
    left: 20vw;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}