.container2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

form[name="registration_form"] {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 242, 242);
    border-radius: 5px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.56)0px 22px 70px 4px;
    position: relative;
    overflow: hidden
}

.inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.inputIcon {
    position: absolute;
    left: 3px;
}

#registration_form_email {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #2EBBC6;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
    transition: border-bottom .4s;
}

#registration_form_email:focus {
    outline: none;
    border-bottom: 2px solid #173f7a;
    transition: border-bottom .4s;
}

#registration_form_email::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1rem;
    font-weight: 500;
}

#registration_form_plainPassword {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #2EBBC6;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
    transition: border-bottom .4s;
}

#registration_form_plainPassword:focus {
    outline: none;
    border-bottom: 2px solid #173f7a;
    transition: border-bottom .4s;
}

#registration_form_plainPassword::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1rem;
    font-weight: 500;
}


/*nel seguente caso il selettore # ci selezione direttamente e solo l'elemento con 
id=button*/

#button {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #2EBBC6;
    height: 45px;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .4s
}

#button:hover {
    background-color: #2688af;
    transition: background-color .4s;
}

.loginLink {
    z-index: 2;
    font-size: .9rem;
    font-weight: 500;
    color: #54c0eb;
    text-decoration: none;
    border-radius: 20px;
}

#chk {
    display: none;
}